services:
  redpanda:
    image: redpandadata/redpanda:v23.3.5
    container_name: redpanda
    networks:
      - monitor-net
    command:
    - redpanda
    - start
    - --smp 1
    - --reserve-memory 0M
    - --overprovisioned
    - --node-id 0
    - --kafka-addr 0.0.0.0:9092
    - --advertise-kafka-addr redpanda:9092
    - --pandaproxy-addr 0.0.0.0:8082
    - --advertise-pandaproxy-addr redpanda:8082
    - --set redpanda.enable_transactions=true
    - --set redpanda.enable_idempotence=true
    - --set redpanda.auto_create_topics_enabled=true
    - --set redpanda.default_topic_partitions=1
    expose:
      - 9644
    ports:
    - 8081:8081
    - 8082:8082
    - 9092:9092
    - 28082:28082
    - 29092:29092
    - 9644:9644

  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    networks:
      - monitor-net
    ports:
    - 3000:3000

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
    - 9090:9090
    expose:
      - 9090
    networks:
      - monitor-net
    volumes:
    - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    - prometheus-data:/prometheus  # Use named volume for data
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'  # Use standard path
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    labels:
      org.label-schema.group: "monitoring"

  otel-collector:
    image: otel/opentelemetry-collector
    command: ["--config=/etc/otel-collector-config.yml"]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    container_name: otel-collector
    networks:
      - monitor-net
    expose:
      # - 8888
      - 8889
    ports:
      - "1888:1888"   # pprof extension
      - "8888:8888"   # Prometheus metrics exposed by the collector
      - "8889:8889"   # Prometheus exporter metrics
      - "13133:13133" # health_check extension
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP http receiver
      - "55679:55679" # zpages extension

networks:
  monitor-net:
    driver: bridge

volumes:
  prometheus-data: